<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>@ViewBag.Title</title>
    <link href="~/Areas/WeiXin/Content/aui.css" rel="stylesheet" />
    <style type="text/css">
        body {
            width: 100%;
            height: 100%;
            position: relative;
            background: url('/Areas/WeiXin/Images/bg.png') no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>