/*validation*/
.field-validation-error {
    color: #b94a48;
    height: 34px;
    line-height: 34px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}
