<style type="text/css">
    .aui-list-item p {
        text-align: left;
        line-height: 20px;
    }

    .aui-popup-content p.t {
        text-indent: 32px;
        text-align: left;
        line-height: 20px;
    }
</style>
<header class="aui-bar aui-bar-nav">
    体质辨识
</header>
<div class="aui-content">
    <div class="aui-progress aui-progress-xxs">
        <div class="aui-progress-bar" data-bind="style:{width:parseInt(rowIndex()+1)/subjectItems().length*100+'%'}" style="width: 0%;"></div>
    </div>

    <ul class="aui-list">
        <li class="aui-list-item" style="padding:0.75rem !important;">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <p data-bind="text:'Q'+item().rowIndex()+'、'+item().title()"></p>
                </div>
            </div>
        </li>
        <!--ko foreach:item().options-->
        <li class="aui-list-item">
            <div class="aui-list-item-inner" data-bind="click:function(obj){$root.item().score(obj.value())}.bind($data)">
                <label>
                    <input data-bind="attr:{value:value,name:$root.item().rowIndex()+'radio'},checked:$root.item().score" class="aui-radio" type="radio" />
                    <!--ko text:text--><!--/ko-->
                </label>
            </div>
        </li>
        <!--/ko-->
    </ul>

    <div class="aui-content-padded">
        <div data-bind="visible:parseInt(rowIndex())>0,click:pre" class="aui-btn aui-btn-danger">上一题</div>
        <div data-bind="visible:parseInt(rowIndex())<subjectItems().length-1,click:next" class="aui-btn aui-btn-danger">下一题</div>
        <div data-bind="visible:parseInt(rowIndex())==subjectItems().length-1&&item().score()>0,click:save" class="aui-btn aui-btn-danger">保存</div>
        <div class="aui-pull-right" style="padding: 0.25rem 0rem;"><p data-bind="text:parseInt(rowIndex()+1)+'/'+subjectItems().length">1/20</p></div>
    </div>
</div>
<div class="aui-mask aui-mask-in"></div>
<div class="aui-popup aui-popup-top aui-popup-in" style="display: block;top:120px;margin-left:-40%;width:80%;">
    <div class="aui-popup-content">
        <header class="aui-bar aui-border-b" style="height:2.25rem;line-height:2.25rem;">
            说明
        </header>
        <div class="aui-content-padded">
            <p class="t">逐项阅读每一个问题，根据自己近一年的体验和感觉，在最符合您的选项进行选择。如果某一个问题您不能肯定回答，请选择最接近您实际情况的选项，每一个问题只能选择一个选项。</p>
            <ul class="aui-list aui-form-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <p>[没有]从来不，根本似乎没有发生</p>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <p>[很少]有一点，好像有，不过很久没有发生过了或者好像是偶然的事情</p>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <p>[有时]有些，实际不定出现，好像也没有什么规律</p>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <p> [经常]我有这个现象，好像已经有一定规律</p>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <p> [总是]非常，频繁出现</p>
                    </div>
                </li>
            </ul>
            <div class="aui-col-xs-12 aui-padded-15">
                <p>
                    <div onclick="submit();" class="aui-btn aui-btn-danger aui-btn-block aui-btn-sm">进入答题</div>
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Areas/WeiXin/Scripts/jquery.min.js"></script>
    <script src="~/Areas/WeiXin/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Areas/WeiXin/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Areas/WeiXin/Scripts/aui-toast.js"></script>
    <script type="text/javascript">
        function submit() {
            $(".aui-popup").remove();
            $(".aui-mask").remove();
        }

        var provider = {};
        $(function () {
            provider = {
                viewModel: new function () {
                    var self = this;
                    self.subjectItems = ko.observableArray([]);
                    self.item = ko.observable();
                    self.rowIndex = ko.observable(0);
                    self.pre = function () {
                        self.rowIndex(parseInt(self.rowIndex()) - 1);
                        self.item(self.subjectItems()[self.rowIndex()]);
                    };
                    self.next = function () {
                        if (self.item().score() === 0) {
                            new auiToast().fail({
                                title: "请先选择",
                                duration: 2000
                            });
                            return;
                        }
                        self.rowIndex(parseInt(self.rowIndex()) + 1);
                        self.item(self.subjectItems()[self.rowIndex()]);
                    };
                    self.save = function () {
                        var postData = [];
                        for (var i = 1; i < 10; i++) {
                            postData.push({
                                categoryId: i,
                                score: 0
                            });
                        }
                        var d = self.subjectItems();
                        for (var i = 0; i < d.length; i++) {
                            for (var j = 0; j < postData.length; j++) {
                                if (postData[j].categoryId == d[i].categoryId()) {
                                    postData[j].score = parseInt(postData[j].score) + parseInt(d[i].score());
                                }
                            }
                        }
                        var toast = new auiToast();
                        toast.loading({
                            title: "提交中...",
                            duration: 2000
                        },
                            function (ret) {
                                $.ajax({
                                    url: '/Weixin/SignHealth/Score',
                                    type: "POST",
                                    data: JSON.stringify({userId: '@ViewBag.UserId', scores: postData }),
                                    contentType: "application/json",
                                    async: true,
                                    success: function (data) {
                                        toast.hide();
                                        if (data.result.success) {
                                            setTimeout(function () {
                                                location.href =
                                                    '/Weixin/SignHealth/analysis?userId=' + data.result.userId;
                                            },
                                                1000);
                                        } else {
                                            new auiToast().fail({
                                                title: "提交失败",
                                                duration: 2000
                                            });
                                        }
                                    },
                                    error: function (data) {
                                        toast.hide();
                                        alert("error:" + JSON.stringify(data));
                                    }
                                });
                            });
                    }
                }(),
                _viewModelCtor: function () {
                    var self = this.viewModel;
                    $.ajax({
                        type: 'get',
                        dataType: "json",
                        url: '/Weixin/SignHealth/GetSubject?userId='+@ViewBag.UserId,
                        cache: false,
                        async: true,
                        success: function (data) {
                            self.subjectItems(ko.mapping.fromJS(data.result).data());
                            self.item(self.subjectItems()[self.rowIndex()]);
                            for (var i = 0; i < self.subjectItems().length; i++) {
                                self.subjectItems()[i].score.subscribe(function (v) {
                                    if (v > 0 && self.rowIndex() + 1 !== self.subjectItems().length) {
                                        setTimeout(function () {
                                            self.rowIndex(parseInt(self.rowIndex()) + 1);
                                            self.item(self.subjectItems()[self.rowIndex()]);
                                        }, 500);
                                    }
                                });
                            }
                            ko.applyBindings(self);
                        },
                        error: function (data) {
                            alert("error:" + JSON.stringify(data));
                        }
                    });
                },
                _ctor: function () {
                    this._viewModelCtor();
                }
            }, provider._ctor();
        });

    </script>
}