@model TCM.HMS.Application.Physique.Dto.BootConfigDto
<style type="text/css">
    .aui-content-padded p {
        text-indent: 32px;
        text-align: left;
        line-height: 25px;
    }

    .checkbox {
        text-align: left;
        font-size: 0.7rem;
    }

    .aui-checkbox {
        width: 0.8rem;
        height: 0.8rem;
        margin-top: 0.1rem;
        margin-right: 0.1rem;
    }
</style>
<header class="aui-bar aui-bar-nav">
    @Model.Title
</header>
<section class="aui-content-padded">
    <div class="aui-col-xs-12 aui-margin-b-5">
        <p>
            @Model.Content
        </p>
    </div>
    <div class="aui-col-xs-12 aui-margin-b-15">
        <div class="checkbox">
            <label><input class="aui-checkbox" type="checkbox" name="checkbox" id="myCheck" checked> 同意</label>
        </div>
    </div>
    <div class="aui-col-xs-12">
        <form>
            <p>
                <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx25750ab6611b4901&redirect_uri=http://testweixinapi.rongdaozx.com/weixin/SignHealth/SignUp&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect" class="aui-btn aui-btn-danger aui-btn-block aui-btn-sm" id="btnNext">下一步</a>
            </p>
        </form>
    </div>
</section>
@section Scripts{
    <script src="~/Areas/WeiXin/Scripts/jquery.min.js"></script>
    <script src="~/Areas/WeiXin/Scripts/aui-toast.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#myCheck').change(function () {
                if ($(this).get(0).checked) {
                    $('#btnNext').attr("href", 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx25750ab6611b4901&redirect_uri=http://testweixinapi.rongdaozx.com/weixin/SignHealth/SignUp&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect');
                }
                else {
                    $('#btnNext').attr("href", 'javascript:new auiToast().fail({title: "请先同意申明",duration: 2000})');
                }
            });
        });
    </script>
}