<link href="~/Areas/WeiXin/Content/mobiscroll.css" rel="stylesheet" />
<link href="~/Areas/WeiXin/Content/mobiscroll_date.css" rel="stylesheet" />
<style type="text/css">
    .aui-list-item p {
        text-indent: 32px;
        text-align: left;
        line-height: 20px;
    }

    .aui-list-item {
        border-bottom: 1px solid #dddddd !important;
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
    }

    .aui-list-item-input label:last-child {
        margin-left: 0.75rem;
    }

    p .aui-btn:last-child {
        background-color: #03a9f4 !important;
        border-color: #03a9f4 !important;
    }
</style>
<header class="aui-bar aui-bar-nav">
    中医体质辨识
</header>
<section class="aui-content">
    <div class="aui-col-xs-12 aui-margin-b-5">
        <div class="aui-content">
            <ul class="aui-list aui-form-list">
                <li class="aui-list-item" style="padding:0.75rem !important;">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text aui-ellipsis-2">
                            <p>中医将人的体质大体分为九类，每个人的体质各异，这是中医辨证治疗的基础。想知道您属于哪种体质吗？辩清体质好养生，请填写以下信息后点击进入中医体质辨识。</p>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            姓名
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" id="username" placeholder="请输入姓名" />
                        </div>
                        <div class="aui-list-item-label-icon">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            性别
                        </div>
                        <div class="aui-list-item-input">
                            <label><input class="aui-radio" value="1" type="radio" name="sex" checked> 男</label>
                            <label><input class="aui-radio" value="0" type="radio" name="sex"> 女</label>
                        </div>
                        <div class="aui-list-item-label-icon">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            出生日期
                        </div>
                        <div class="aui-list-item-input">
                            <input id="birthDate" type="text" />
                        </div>
                        <div class="aui-list-item-label-icon">
                            <i class="aui-iconfont aui-icon-calendar"></i>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            手机号
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" id="mobile" placeholder="请输入手机号" />
                        </div>
                        <div class="aui-list-item-label-icon">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            身份证
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" id="idCard" placeholder="请输入身份证" />
                        </div>
                        <div class="aui-list-item-label-icon">
                        </div>
                    </div>
                </li>
            </ul>
            <div class="aui-col-xs-12 aui-padded-15">
                <p>
                    <div onclick="submit();" class="aui-btn aui-btn-danger aui-btn-block aui-btn-sm">进入体质辨识</div>
                </p>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/Areas/WeiXin/Scripts/jquery.min.js"></script>
    <script src="~/Areas/WeiXin/Scripts/mobiscroll_date.js" charset="gb2312"></script>
    <script src="~/Areas/WeiXin/Scripts/mobiscroll.js"></script>
    <script src="~/Areas/WeiXin/Scripts/aui-toast.js"></script>
    <script type="text/javascript">
        $(function() {
            var currYear = (new Date()).getFullYear();
            var opt = {};
            opt.date = { preset: 'date' };
            opt.datetime = { preset: 'datetime' };
            opt.time = { preset: 'time' };
            opt.default = {
                theme: 'android-ics light',
                display: 'modal',
                mode: 'scroller',
                dateFormat: 'yyyy-mm-dd',
                lang: 'zh',
                showNow: false,
                startYear: currYear - 50,
                endYear: currYear + 10
            };

            $("#birthDate").mobiscroll($.extend(opt['date'], opt['default']));
        });

        var submit = function() {
            var userName = $("#username").val();
            var sex = $("input[name='sex']:checked").val();
            var birthDate = $("#birthDate").val();
            var mobile = $("#mobile").val();
            var idCard = $("#idCard").val();
            if (userName == "") {
                new auiToast().fail({
                    title: "请输入您的姓名",
                    duration: 2000
                });
                $("#username").focus();
                return;
            }
            if (birthDate == "") {
                new auiToast().fail({
                    title: "请选择您的出生日期",
                    duration: 2000
                });
                return;
            }
            if (mobile == "") {
                new auiToast().fail({
                    title: "请输入您的手机号",
                    duration: 2000
                });
                $("#mobile").focus();
                return;
            }
            if (idCard == "") {
                new auiToast().fail({
                    title: "请输入您的身份证号",
                    duration: 2000
                });
                $("#idCard").focus();
                return;
            }
            var postData = {
                Id: '@ViewBag.UserId',
                UserName: userName,
                Sex: sex,
                BirthDay: birthDate,
                Mobile: mobile,
                IdCard: idCard
            };
            var toast = new auiToast();
            toast.loading({
                    title: "提交中...",
                    duration: 2000
                },
                function(ret) {
                    $.ajax({
                        url: '/Weixin/SignHealth/Accept',
                        type: "POST",
                        data: JSON.stringify(postData),
                        contentType: "application/json",
                        async: true,
                        success: function (data) {
                            toast.hide();
                            if (data.result.success) {
                                setTimeout(function() {
                                        location.href = '/Weixin/SignHealth/?userId=' + data.result.userId;
                                    },
                                    1000);
                            } else {
                                new auiToast().fail({
                                    title: "提交失败",
                                    duration: 2000
                                });
                            }
                        },
                        error: function (data) {
                            toast.hide();
                            alert("error:" + JSON.stringify(data));
                        }
                    });
                });
        }
    </script>
}